{% extends 'base.html' %}

{% block header %}
    <title>你正在追 | 追劇仔</title>
{% endblock %}

{% block content %}
<h3 align="center">你正在追</h3>
<div align="center">
    <table border="1">
        <tr>
            <td><span style="font-weight:bold">劇名</span></td>
            <td align="center"><span style="font-weight:bold">平台連結</span></td>
            <td align="center"><span style="font-weight:bold">現在集數/全部</span></td>
            <td align="center"><span style="font-weight:bold">時:分:秒</span></td>
            <td align="center"><span style="font-weight:bold">操作</span></td>
        </tr>

        {% for drama in dramas%}
        <tr>
            <td>{{ drama.name }}</td>
            <td><a href="{{ drama.source }}" target="_blank">去看影片</a></td>
            <td align="center">{{ drama.episode }} / {{ drama.max_episode }}</td>
            <td>{{ drama.timestamp }}</td>
            <td>
                <form action="/edit/{{ drama.id }}/" method="GET"> {% csrf_token %}
                    <input type="submit" value="編輯">
                </form>

                <form action="/delete/{{ drama.id }}/" method="POST"> {% csrf_token %}
                    <input type="submit" value="刪除">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock%}


{% block footer %}
<footer>
    <div align="center">
        <br><br><hr><br>
        <input type="button" onclick="javascript:location.href='/record/'" value="我想追新的劇"></input>
    </div>
</footer>
{% endblock %}
